* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
    background-color: azure;
}

#container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

button {
    width: 200px;
    height: 40px;
    margin: 5px;
    border: 0;
    border-radius: 10px;
    background-color: rgb(125, 202, 223);
    font-size: 20px;
    letter-spacing: 1px;
}

button:hover,
button:active {
    border: 2px solid black
}

.card {
    background-color: rgb(125, 202, 223);
}